<nav class="navbar navbar-static-top navbar-default" role="navigation">
 <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Read Sisu", root_path, class: "navbar-brand" %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <%= link_to root_path do %>
        <span class="btn btn-default navbar-btn">
       <span class="glyphicon glyphicon-cloud"></span> 
        Home
    </span>    
       <% end %>
     
      <%= link_to about_path do %>
        <span class="btn btn-default navbar-btn">
        <span class="glyphicon glyphicon-tree-deciduous"></span> 
        About Me
      </span>
        <% end %>
      <%= link_to contact_path do %>
        <span class="btn btn-default navbar-btn">
          <span class="glyphicon glyphicon-inbox"></span> Contact Me
        </span>
        <% end %> 
      
      <%= link_to sisu_path do %>
        <span class="btn btn-default navbar-btn">
        <span class= "glyphicon glyphicon-book"></span> About Sisu 
      </span>
      <% end %>
    
      <% if user_signed_in? %> 
          
            <%= link_to new_pin_path do %>
              <span class="btn btn-default navbar-btn">
              <span class="glyphicon glyphicon-camera"></span> New Pin
            </span> 
            <% end %>
            
          <%= link_to edit_user_registration_path do %>
            <span class="btn btn-default navbar-btn">
            <span class ="glyphicon glyphicon-film"></span> Account Configuration
            </span>
            <% end %>

          
      <%= link_to destroy_user_session_path, method: :delete do %>
        <span class="btn btn-default navbar-btn">
          <span class = "glyphicon glyphicon-eye-close"></span> 
          End Session
          </span>        
        <% end %>
      
      <% else %>
       <%= link_to new_user_session_path do %>
        <span class="btn btn-default navbar-btn">
          <span class="glyphicon glyphicon-pushpin"></span>  
          Sign In
        </span>
        <% end %> 
      
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container --> 
</nav>